

<table border="1" style="border-collapse: collapse;">

  <tr>
    <th>Codigo</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Descripcion</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <tr *ngFor="let detalle of detalles">
    <td>{{detalle.codigo}}</td>
    <td>{{detalle.producto}}</td>
    <td>{{detalle.precio}}</td>
    <td>{{detalle.descripcion}}</td>
    <td><button (click)="eliminar()" >Editar</button></td>
    <td><button (click)="seleccionar(detalle)" >Seleccionar</button></td>
  </tr>

</table>

<div>
  <p><input type="text" name="" id="" placeholder="Codigo" [formControl]="codigo"></p>
  <p><input type="text" name="" id="" placeholder="Producto" [formControl]="producto"></p>
  <p><input type="text" name="" id="" placeholder="Precio" [formControl]="precio"></p>
  <p><input type="text" name="" id="" placeholder="Descripcion" [formControl]="descripcion"></p>
  
  <p>
    <button (click)="guardar()">Save</button>
    <button (click)="actualizar()">Update</button>
  </p>

</div>

